<div class="subcategory-container">
  <div class="subcategory-title" ng-bind="subCategoryVm.subcategory.name"></div>
  <div class="subcategory-wrapper">
    <ul class="items-wrapper">
      <li class="items-wrapper-item" ng-repeat="item in subCategoryVm.items">
        <i class="item-remove" ng-click="subCategoryVm.productRemove(item._id)" ng-if="subCategoryVm.isUser(item.seller_id)"></i>
        <i class="item-image" style="background: url('{{item.image_url}}') center center no-repeat;" ng-if="item.image_url"></i>
        <i class="no-image" ng-if="!item.image_url"></i>
        <a class="items-wrapper-item-link" ng-bind="item.name" ng-click="subCategoryVm.setProductId(item.id)" href="#details/{{item.name | lowercase}}"></a>
        <div class="items-wrapper-item-desc" ng-bind="item.description"></div>
      </li>
    </ul>
  </div>
</div>
