.subcategory-container {
  min-height: 500px;
  height: auto;
  .subcategory-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: $color-secondary;
  }
  .before-select {
    font-size: 16px;
    color: $color-secondary;
  }
  select {
    border: 0;
    font-size: 16px;
    outline: none;
    color: $color-secondary;
  }
  .items-wrapper {
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    height: 600px;
    overflow: auto;
    &-item {
      padding: 20px;
      box-shadow: 0px 0px 1px rgba(0,0,0,0.2) inset;
      margin: 10px;
      background-color: $color-primary;
      border-radius: 20px;
      cursor: pointer;
      position: relative;
      width: 245px;
      box-sizing: border-box;
      .item-image {
        display: block;
        width: 200px;
        height: 200px;
      }
      .no-image {
        display: block;
        width: 200px;
        height: 200px;
        font-style: normal;
        font-size: 200px;
        color: $color-white;
        &:before {
          font-family: 'webApp';
          content: $icon-item;
        }
      }
      .item-remove {
        position: absolute;
        top: 5px;
        right: 0;
        font-family: 'webApp';
        font-style: normal;
        font-size: 25px;
        color: $color-white;
        &:before {
          content: $icon-remove;
        }
        &:hover {
          color: $color-secondary;
        }
      }
      .item-left {
        position: absolute;
        top: 5px;
        left: 15px;
        color: $color-white;
      }
      a {
        font-size: 20px;
        line-height: 70px;
        text-transform: uppercase;
        color: $color-white;
        text-decoration: none;
      }
      &-desc {
        color: $color-white;
      }
      &-price {
        font-size: 20px;
        color: $color-white;
        line-height: 40px;
      }
      .add-to-block {
        padding: 20px;
        &-button {
          padding: 10px;
          font-size: 20px;
          background-color: $color-secondary;
          color: $color-white;
          border-radius: 5px;
          cursor: pointer;
          border: none;
          &[disabled=disabled] {
            background-color: $color-grey;
            cursor: default;
            &:hover {
              background-color: $color-grey;
            }
          }
          &:hover {
            background-color: $color-primary;
          }
        }
      }
      &:hover {
        a {
          color: $color-secondary;
        }
        .items-wrapper-item-desc,
        .items-wrapper-item-price {
          color: $color-secondary;
        }
      }
    }
  }
}
