<header>
  <div class="header-links">
    <div class="header-links-item">delivery</div>
    <div class="header-links-item">payments</div>
    <div class="header-links-item">about</div>
    <div class="header-links-item">faq</div>
    <div class="header-links-item last">terms and conditions</div>
    <div class="header-links-right">
      <div class="header-links-item">sing up</div>
      <div class="header-links-item">sing in</div>
    </div>
  </div>
  <div class="header-container">
    <div class="header-logo-wrapper">
      <div class="header-logo-image"></div>
      <div class="header-logo-text">
        <div class="header-text">test web store</div>
      </div>
    </div>
    <div class="header-cart">
      <div class="header-cart-icon"></div>
      <div class="header-cart-text">10</div>
    </div>
  </div>
</header>
