<div class="popup-container" user-directive>
  <form class="popup-form" angular-validator-submit="userVm.userLogin()" name="loginForm" novalidate angular-validator>
    <div class="input-container">
      <input
        type="email"
        name="email"
        placeholder="email"
        ng-model="userVm.login"
        class="popup-input"
        invalid-message="'enter a correct email'"
        required-message="'this field is required'"
        validate-on="dirty"
        required>
    </div>
    <div class="input-container">
      <input
        type="password"
        name="password"
        placeholder="password"
        ng-model="userVm.password"
        class="popup-input"
        required-message="'this field is required'"
        validate-on="dirty"
        required>
    </div>
    <button class="popup-button">Login</button>
  </form>
</div>
