//colors
$color-primary: #D2691E;
$color-white: #FFFFFF;
$color-secondary: #9DD2D8;
$color-grey: #CCCCCC;
$color-error: #A94442;
$color-success: #7AE453;
//icons
$icon-cart: '\e900';
$icon-edit: '\e901';
$icon-save: '\e902';
$icon-user: '\e903';
$icon-success: '\e904';
$icon-menu: '\e905';
$icon-error: '\e906';
$icon-category: '\e907';
$icon-seller: '\e908';
$icon-item: '\e909';
