.popup-container {
  .popup-form {
    padding: 20px 50px;
    box-sizing: border-box;
    .popup-input {
      padding: 15px;
      width: 100%;
      margin-top: 20px;
      border: 2px solid $color-grey;
      border-radius: 10px;
      font-size: 16px;
      font-weight: bold;
      outline: none;
      color: $color-secondary;
      &:focus {
        border-color: $color-secondary;
      }
      &.date {
        cursor: text;
      }
      &.has-error {
        border-color: $color-error;
        + label {
          &.has-error {
            color: $color-error;
            font-size: 12px;
          }
        }
      }
      &.ng-valid {
        &.ng-not-empty {
          border-color: $color-success;
        }
      }
      &[type="file"] {
        background-color: $color-white;
      }
    }
    .popup-button {
      padding: 15px;
      margin-top: 20px;
      width: 50%;
      border: 2px solid $color-grey;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: $color-secondary;
      color: $color-primary;
      outline: none;
      cursor: pointer;
      margin-left: 25%;
    }
    .popup-select {
      position: relative;
      width: 100%;
      margin-top: 20px;
      border: 2px solid $color-grey;
      border-radius: 10px;
      font-size: 16px;
      font-weight: bold;
      outline: none;
      color: $color-secondary;
      background-color: $color-white;
      .ui-select-choices {
        max-height: 150px;
        overflow: auto;
        background-color: $color-white;
        position: absolute;
        z-index: 99;
        border: 2px solid $color-grey;
        top: 53px;
      }
      .ui-select-match {
        padding: 13px;
        height: 52px;
        box-sizing: border-box;
      }
      .ui-select-search {
        outline: none;
        padding: 15px;
        border: none;
        border-radius: 10px;
        height: 52px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: bold;
      }
      .ui-select-choices-row {
        &:hover {
          background-color: $color-secondary;
        }
        .option {
          cursor: pointer;
          padding: 2px;
          text-align: center;
          &:hover {
            color: $color-primary;
          }
        }
      }
      &.country,
      &.city,
      &.category,
      &.subcategory {
        &.has-error {
          border-color: $color-error;
        }
        &.ng-valid {
          &.ng-not-empty {
            border-color: $color-success;
          }
        }
        + .select-error-label {
          display: none;
          color: $color-error;
          font-size: 12px;
          &.has-error {
            display: block;
          }
        }
      }
    }
  }
  //error popup
  .error {
    &-wrapper {
      text-align: center;
      width: 100%;
      padding: 20px;
    }
    &-icon {
      font-family: 'webApp';
      font-size: 100px;
      color: $color-error;
      height: 100px;
      line-height: 50px;
      i {
        font-style: normal;
        &:before {
          content: $icon-error;
        }
      }
    }
    &-text {
      font-size: 20px;
      color: $color-error;
      font-weight: 600;
    }
  }
  //success popup
  .success {
    &-wrapper {
      text-align: center;
      width: 100%;
      padding: 20px;
    }
    &-icon {
      font-family: 'webApp';
      font-size: 100px;
      color: $color-success;
      height: 100px;
      line-height: 50px;
      i {
        font-style: normal;
        &:before {
          content: $icon-success;
        }
      }
    }
    &-text {
      font-size: 20px;
      color: $color-success;
      font-weight: 600;
    }
  }
  .confirmation-text {
    color: $color-primary;
    font-size: 20px;
    text-align: center;
  }
  .button-box {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    .popup-button {
      &.confirm {
        width: calc(95%/2);
        padding: 15px;
        border: 2px solid $color-grey;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $color-secondary;
        color: $color-primary;
        outline: none;
        cursor: pointer;
        &:last-child {
          margin-left: 3%;
        }
      }
    }
  }
}
