.popup-container {
  .popup-form {
    padding: 20px 50px;
    box-sizing: border-box;
    .popup-input {
      padding: 15px;
      width: 100%;
      margin-top: 20px;
      border: 2px solid $color-grey;
      border-radius: 10px;
      font-size: 16px;
      font-weight: bold;
      outline: none;
      color: $color-secondary;
      &:focus {
        border-color: $color-secondary;
      }
    }
    .popup-button {
      padding: 15px;
      margin-top: 20px;
      width: 50%;
      border: 2px solid $color-grey;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: $color-secondary;
      color: $color-primary;
      outline: none;
      cursor: pointer;
      margin-left: 25%;
    }
  }
}
