<div class="popup-container">
  <form class="popup-form" angular-validator-submit="popupsVm.userRegister()" name="registerForm" novalidate angular-validator>
      <div class="input-container">
        <input
          type="email"
          name="email"
          placeholder="email"
          ng-model="popupsVm.email"
          class="popup-input"
          invalid-message="'please, enter a correct email'"
          required-message="'this field is required'"
          validate-on="dirty"
          required>
      </div>
      <div class="input-container">
        <input
         type="password"
         name="password"
         placeholder="password"
         ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/"
         ng-model="popupsVm.password"
         class="popup-input"
         invalid-message="'minimum 8 characters at least 1 alphabet and 1 number'"
         required-message="'this field is required'"
         validate-on="dirty"
         required>
     </div>
     <div class="input-container">
       <input
        type="password"
        name="confirmPassword"
        placeholder="confirm password"
        ng-model="popupsVm.confirmPassword"
        class="popup-input"
        validator = "popupsVm.password === popupsVm.confirmPassword"
        invalid-message="'passwords do not mach'"
        required-message="'this field is required'"
        validate-on="dirty"
        required>
     </div>
     <div class="input-container">
       <input
        type="text"
        name="firstName"
        placeholder="first name"
        ng-model="popupsVm.first_name"
        class="popup-input"
        required-message="'this field is required'"
        validate-on="dirty"
        required>
     </div>
     <div class="input-container">
       <input
        type="text"
        name="lastName"
        placeholder="last name"
        ng-model="popupsVm.last_name"
        class="popup-input"
        required-message="'this field is required'"
        validate-on="dirty"
        required>
     </div>
     <div class="input-container">
       <input
        date-time
        format="MM/dd/yyyy"
        min-view="date"
        placeholder="date of birth"
        ng-model="popupsVm.date_of_birth"
        class="popup-input date"
        readonly>
     </div>
     <div class="input-container">
       <input
        type="text"
        name="phoneNumber"
        placeholder="phone number"
        ng-pattern="/^\d+$/"
        ng-model="popupsVm.phone_number"
        class="popup-input"
        invalid-message="'please, enter numbers only'"
        required-message="'this field is required'"
        validate-on="dirty"
        required>
     </div>
     <div class="input-container">
       <input
        type="text"
        name="zipCode"
        placeholder="zip code"
        ng-pattern="/^\d+$/"
        ng-model="popupsVm.zip_code"
        class="popup-input"
        invalid-message="'please, enter numbers only'"
        required-message="'this field is required'"
        validate-on="dirty"
        required>
     </div>
     <div class="input-container">
       <input
         type="text"
         name="adress"
         placeholder="address"
         ng-model="popupsVm.address"
         class="popup-input"
         required-message="'this field is required'"
         validate-on="dirty"
         required>
     </div>
     <div class="input-container">
        <ui-select
          ng-model="popupsVm.country_selected"
          name="country"
          theme="selectize"
          class="popup-select country"
          on-select="popupsVm.countrySelected()"
          ng-class="{'has-error':registerForm.$submitted && registerForm.country.$invalid}"
          required>
          <ui-select-match placeholder="Select country">{{$select.selected.country}}</ui-select-match>
          <ui-select-choices repeat="item in popupsVm.countries | filter: $select.search" refresh-delay="0">
            <div ng-bind-html="item.country| highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <label class='select-error-label' ng-class="{'has-error':registerForm.$submitted && registerForm.country.$invalid}">Please, select your country</label>
    </div>
    <div class="input-container" ng-show="popupsVm.show_city">
      <ui-select
       ng-model="popupsVm.city_selected"
       name="city"
       theme="selectize"
       ng-disabled="disabled"
       class="popup-select city"
       ng-class="{'has-error':registerForm.$submitted && registerForm.city.$invalid}"
       required>
        <ui-select-match placeholder="city">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="item in popupsVm.cities track by $index" refresh-delay="0">
          <span ng-bind-html="item | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <label class='select-error-label' ng-class="{'has-error':registerForm.$submitted && registerForm.city.$invalid}">Please, select your city</label>
    </div>
    <button class="popup-button">Register</button>
  </form>
</div>
