@font-face {
  font-family: 'webApp';
  src: url('../fonts/webApp/webApp.eot');
  src: url('../fonts/webApp/webApp.woff') format('woff'),
       url('../fonts/webApp/webApp.ttf')  format('truetype'),
       url('../fonts/webApp/webApp.svg#svgwebApp') format('svg');
}
