<header>
  <div class="header-links">
    <a href="#delivery" class="header-links-item">delivery</a>
    <a href="#payments" class="header-links-item">payments</a>
    <a href="#about" class="header-links-item">about</a>
    <a href="#faq" class="header-links-item">faq</a>
    <a href="#terms" class="header-links-item last">terms and conditions</a>
    <div class="header-links-right">
      <div class="header-links-item" ng-click="headerVm.openRegistration()">sing up</div>
      <div class="header-links-item" ng-click="headerVm.openLogin()">sing in</div>
    </div>
  </div>
  <div class="header-container">
    <div class="header-logo-wrapper">
      <a href="#" class="header-logo-image"></a>
      <div class="header-logo-text">
        <div class="header-text">test web store</div>
      </div>
    </div>
    <div class="header-cart">
      <div class="header-cart-icon"></div>
      <div class="header-cart-text">10</div>
    </div>
  </div>
</header>
