<div class="home-container">
  <form class="popup-form" angular-validator-submit="userVm.userUpdate()" name="registerForm" novalidate angular-validator>
      <div class="input-container">
        <input
          type="email"
          name="email"
          placeholder="email"
          ng-model="userVm.email"
          class="popup-input"
          invalid-message="'please, enter a correct email'"
          validate-on="dirty">
      </div>
      <div class="input-container">
        <input
         type="password"
         name="password"
         placeholder="password"
         ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/"
         ng-model="userVm.password"
         class="popup-input"
         invalid-message="'minimum 8 characters at least 1 alphabet and 1 number'"
         validate-on="dirty">
     </div>
     <div class="input-container">
       <input
        type="password"
        name="confirmPassword"
        placeholder="confirm password"
        ng-model="userVm.confirmPassword"
        class="popup-input"
        validator = "userVm.password === userVm.confirmPassword"
        invalid-message="'passwords do not mach'"
        validate-on="dirty">
     </div>
     <div class="input-container">
       <input
        type="text"
        name="firstName"
        placeholder="first name"
        ng-model="userVm.first_name"
        class="popup-input"
        validate-on="dirty">
     </div>
     <div class="input-container">
       <input
        type="text"
        name="lastName"
        placeholder="last name"
        ng-model="userVm.last_name"
        class="popup-input"
        validate-on="dirty">
     </div>
     <div class="input-container">
       <input
        date-time
        format="MM/dd/yyyy"
        min-view="date"
        placeholder="date of birth"
        ng-model="userVm.date_of_birth"
        class="popup-input date">
     </div>
     <div class="input-container">
       <input
        type="text"
        name="phoneNumber"
        placeholder="phone number"
        ng-pattern="/^\d+$/"
        ng-model="userVm.phone_number"
        class="popup-input"
        invalid-message="'please, enter numbers only'"
        validate-on="dirty">
     </div>
     <div class="input-container">
       <input
        type="text"
        name="zipCode"
        placeholder="zip code"
        ng-pattern="/^\d+$/"
        ng-model="userVm.zip_code"
        class="popup-input"
        invalid-message="'please, enter numbers only'"
        validate-on="dirty">
     </div>
     <div class="input-container">
       <input
         type="text"
         name="adress"
         placeholder="address"
         ng-model="userVm.address"
         class="popup-input">
     </div>
     <div class="input-container">
        <ui-select
          ng-model="userVm.country_selected"
          name="country"
          theme="selectize"
          class="popup-select country"
          on-select="userVm.countrySelected()"
          ng-class="{'has-error':registerForm.$submitted && registerForm.country.$invalid}">
          <ui-select-match placeholder="Select country">{{$select.selected.country}}</ui-select-match>
          <ui-select-choices repeat="item in userVm.countries | filter: $select.search" refresh-delay="0">
            <div ng-bind-html="item.country| highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
    </div>
    <div class="input-container" ng-show="userVm.show_city">
      <ui-select
       ng-model="userVm.city_selected"
       name="city"
       theme="selectize"
       ng-disabled="disabled"
       class="popup-select city"
       ng-class="{'has-error':registerForm.$submitted && registerForm.city.$invalid}">
        <ui-select-match placeholder="city">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="item in userVm.cities track by $index" refresh-delay="0">
          <span ng-bind-html="item | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </form>
</div>
