.details-container {
  min-height: 500px;
  height: auto;
  .details-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: $color-secondary;
  }
  .details-wrapper {
    padding: 30px;
    > i {
      display: inline-block;
      width: 250px;
      height: 250px;
      margin: 10px 10px 0;
    }
    &-right {
      display: inline-block;
      vertical-align: top;
      padding: 10px;
      .description {
        font-size: 18px;
      }
      .seller-block {
        cursor: pointer;
        &:hover {
          > i, > a {
            color: $color-primary;
          }
        }
        > i {
          font-family: 'webApp';
          font-size: 20px;
          font-style: normal;
          color: $color-secondary;
          &:before {
            content: $icon-seller;
          }
        }
        a {
          vertical-align: top;
          text-decoration: none;
          color: $color-secondary;
        }
      }
    }
  }
}
